<!DOCTYPE html>
<html>
<head>
    <title>Live People Detection and Emotion Tracking</title>
    <style>
        body {
            background-color: black;
            text-align: center;
        }
        h1 {
            color: blue;
            font-weight: bold;
        }
        img {
            width: 100%;
            max-width: 800px;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Live People Detection and Emotion Tracking</h1>
    <img src="{{ url_for('video_feed') }}">
</body>
</html>
